on:
  push:
    branches: ["*"]

jobs:
  check-conventional-commits:
    uses: armakuni/github-actions/.github/workflows/check-conventional-commits.yml@v0.2.3

  create-release:
    needs:
      - check-conventional-commits
    if: github.ref == 'refs/heads/main'
    uses: armakuni/github-actions/.github/workflows/tag-and-release.yml@v0.4.1
    secrets: inherit
